language: csharp
mono: none
dotnet: 5.0
solution: Cactus.Identity.Signing.sln
env:
  global:
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1
script:
  - dotnet restore
  - dotnet build
  - dotnet test Cactus.Identity.Signing.Test/Cactus.Identity.Signing.Test.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
after_script:
  - bash <(curl -s https://codecov.io/bash)
